# Đảm bảo tất cả các file văn bản sử dụng LF khi lưu trữ trong Git
* text=auto eol=lf

# Định nghĩa cụ thể cho các loại file
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf

# Bỏ qua node_modules và các tệp nhị phân
node_modules/** -text
*.bin -text
